body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 100%;
}

h1 {
  text-align: center;
  padding-top: 50px;;
}


.form-outline{
  width: 300px;;
  text-align: center;
}

/* Light/Dark Mode */

.light-mode {
  background-color: #ffffff;
  color: #333333;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
