body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 100%;
}

h1 {
  text-align: center;
  padding-top: 50px;;
}


.form-outline{
  width: 300px;;
  text-align: center;
}

/* Light/Dark Mode */

.light-mode {
  background-color: #ffffff;
  color: #333333;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

/* List Styles */

ul#favoriteList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.border {
  border: 1px solid black;
  padding: 10px;
  border-radius: 200px;
}

.list-group-item:hover {
  background-color: #9ac5f0 !important;
  
}



/* Delete Button Styling */

.delete-button {
  margin: 50px;
}
